In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("C:\\Users\\HP\\Desktop\\My docs\\ND Ways\\data.csv")
df.head()

   no_of_peple  no_of_seats  courses  expert  price
0            4            4        2       2   7592
1            7            7        0       2   7991
2            4            4        0       2   4994
3            7            7        0       0   6993
4            3            3        3       1   7393

In [7]:
df1 = df.drop('no_of_peple', axis='columns')
df1.head()

   no_of_seats  courses  expert  price
0            4        2       2   7592
1            7        0       2   7991
2            4        0       2   4994
3            7        0       0   6993
4            3        3       1   7393

In [8]:
model = linear_model.LinearRegression()
model.fit(df1.drop('price',axis='columns'),df1.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
model.predict([[2,0,1]])

array([2497.])

In [27]:
import pickle
with open("estimate price for admite.pickle","wb") as f:
    pickle.dump(model,f)